@font-face {
  font-family: "FAIRE Luma Sans";
  src: url("../fonts/output1.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: "FAIRE Luma Sans";
  src: url("../fonts/output2.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500
}

@font-face {
  font-family: "FAIRE Luma Sans";
  src: url("../fonts/output3.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400
}
