@font-face {
  font-family: "FAIRE Luma Sans";
  src: url("https://framerusercontent.com/assets/TygL4Ho1oYr0ENafwleKaRoei4.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700
}

@font-face {
  font-family: "FAIRE Luma Sans";
  src: url("https://framerusercontent.com/assets/HsVDMisU0uwbbP0exXU5MsN4W0U.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 500
}

@font-face {
  font-family: "FAIRE Luma Sans";
  src: url("https://framerusercontent.com/assets/DKg8PzuRXqfCbl7PpSZf19jeX4.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400
}
